In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('grayscale.csv')
df2=pd.read_csv('sepia.csv')
df3=pd.read_csv('invert.csv')

In [3]:
df1.head()

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],g[7:0],b[7:0],gray[7:0],gray_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
0,Radix - UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,HEX,HEX,UNSIGNED,HEX,HEX,HEX
1,0,0,1,233,141,113,0,0,0,0,0,0,1,1
2,1,1,0,233,141,113,0,0,0,0,0,0,1,0
3,2,2,0,233,141,113,0,0,0,0,0,0,1,0
4,3,3,0,233,141,113,0,0,0,0,0,0,1,0

In [4]:
df2.head()

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],g[7:0],sepia_red_final[7:0],sepia_green_final[7:0],sepia_blue_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
0,Radix - UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,HEX,HEX,UNSIGNED,HEX,HEX,HEX
1,0,0,0,233,141,0,0,0,0,1,0,0,1,1
2,1,1,1,233,141,0,0,0,0,0,0,0,1,1
3,2,2,0,233,141,0,0,0,0,0,0,0,1,0
4,3,3,0,233,141,0,0,0,0,0,0,0,1,0

In [5]:
df3.head()

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],inv_red_final[7:0],inv_green_final[7:0],inv_blue_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
0,Radix - UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,UNSIGNED,HEX,HEX,UNSIGNED,HEX,HEX,HEX
1,0,0,0,233,0,0,0,1,0,0,1,1,1
2,1,1,1,233,0,0,0,1,0,0,1,1,1
3,2,2,0,233,22,114,142,1,0,1,1,1,1
4,3,3,0,233,22,114,142,1,0,2,1,1,1

In [6]:
df1.drop(index=0,inplace=True)
df2.drop(index=0,inplace=True)
df3.drop(index=[0,1,2,3],inplace=True)

In [7]:
df3.head()

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],inv_red_final[7:0],inv_green_final[7:0],inv_blue_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
4,3,3,0,233,22,114,142,1,0,2,1,1,1
5,4,4,0,221,22,114,142,1,0,3,1,1,1
6,5,5,0,173,34,131,154,1,0,4,1,1,1
7,6,6,0,193,82,189,179,1,0,5,1,1,1
8,7,7,0,208,62,172,168,1,0,6,1,1,1

In [8]:
x=df1[df1['gray_final[7:0]']!='0']
y=df2[df2['sepia_red_final[7:0]']!='0']

In [9]:
x.head()

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],g[7:0],b[7:0],gray[7:0],gray_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
31,30,30,0,233,141,113,165,165,0,0,1,0,1,1
61,60,60,0,233,141,113,165,165,0,0,2,0,1,1
91,90,90,0,221,124,101,163,163,0,0,3,0,1,1
121,120,120,0,173,66,76,147,147,0,0,4,0,1,1
151,150,150,0,193,83,87,100,100,0,0,5,0,1,1

In [10]:
y.head()

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],g[7:0],sepia_red_final[7:0],sepia_green_final[7:0],sepia_blue_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
32,31,31,0,233,141,221,197,153,0,0,1,0,1,1
62,61,61,0,233,141,221,197,153,0,0,2,0,1,1
92,91,91,0,221,124,219,195,151,0,0,3,0,1,1
122,121,121,0,173,66,196,174,136,0,0,4,0,1,1
152,151,151,0,193,83,135,120,93,0,0,5,0,1,1

In [11]:
x.drop(index=31,inplace=True)
y.drop(index=32,inplace=True)

C:\Users\bijee\AppData\Local\Temp\ipykernel_22308\553454577.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop(index=31,inplace=True)
C:\Users\bijee\AppData\Local\Temp\ipykernel_22308\553454577.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.drop(index=32,inplace=True)

In [12]:
x[x['r[7:0]']=='136']

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],g[7:0],b[7:0],gray[7:0],gray_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
7711,7710,7710,0,136,60,86,88,88,0,0,0,0,1,1
15421,15420,15420,0,136,60,86,88,88,0,0,0,0,1,1
23131,23130,23130,0,136,60,86,88,88,0,0,0,0,1,1
30841,30840,30840,0,136,60,86,88,88,0,0,0,0,1,1

In [13]:
y[y['r[7:0]']=='136']

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],g[7:0],sepia_red_final[7:0],sepia_green_final[7:0],sepia_blue_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
7712,7711,7711,0,136,60,120,106,83,0,0,0,0,1,1
15422,15421,15421,0,136,60,120,106,83,0,0,0,0,1,1
23132,23131,23131,0,136,60,120,106,83,0,0,0,0,1,1
30842,30841,30841,0,136,60,120,106,83,0,0,0,0,1,1

In [14]:
y[y['r[7:0]']=='233'][:5]

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],g[7:0],sepia_red_final[7:0],sepia_green_final[7:0],sepia_blue_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
62,61,61,0,233,141,221,197,153,0,0,2,0,1,1
5762,5761,5761,0,233,188,198,176,137,0,0,0,0,1,1
6242,6241,6241,0,233,186,177,157,122,0,0,0,0,1,1
7562,7561,7561,0,233,170,198,176,137,0,0,12,0,1,1
7742,7741,7741,0,233,141,120,107,83,0,0,1,0,1,1

In [15]:
df3[df3['r[7:0]']=='136']

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],inv_red_final[7:0],inv_green_final[7:0],inv_blue_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
259,258,258,0,136,110,194,177,1,0,0,1,1,1
516,515,515,0,136,110,194,177,1,0,0,1,1,1
773,772,772,0,136,110,194,177,1,0,0,1,1,1

In [16]:
x=x.loc[:7711]
y=y.loc[:7742]
z=df3.loc[:259]

In [17]:
x.tail()

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],g[7:0],b[7:0],gray[7:0],gray_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
7591,7590,7590,0,212,162,157,187,187,0,0,13,0,1,1
7621,7620,7620,0,140,60,74,166,166,0,0,14,0,1,1
7651,7650,7650,0,189,115,98,88,88,0,0,15,0,1,1
7681,7680,7680,0,145,61,78,132,132,0,0,0,0,1,1
7711,7710,7710,0,136,60,86,88,88,0,0,0,0,1,1

In [18]:
y.tail()

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],g[7:0],sepia_red_final[7:0],sepia_green_final[7:0],sepia_blue_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
7622,7621,7621,0,140,60,221,197,153,0,0,14,0,1,1
7652,7651,7651,0,189,115,119,106,82,0,0,15,0,1,1
7682,7681,7681,0,145,61,177,157,123,0,0,0,0,1,1
7712,7711,7711,0,136,60,120,106,83,0,0,0,0,1,1
7742,7741,7741,0,233,141,120,107,83,0,0,1,0,1,1

In [19]:
z.tail()

,Sample in Buffer,Sample in Window,TRIGGER,r[7:0],inv_red_final[7:0],inv_green_final[7:0],inv_blue_final[7:0],done,p_2_in,addr[3:0],ready,start_IBUF,ena
255,254,254,0,212,22,85,103,1,0,13,1,1,1
256,255,255,0,140,43,93,98,1,0,14,1,1,1
257,256,256,0,189,115,195,181,1,0,15,1,1,1
258,257,257,0,145,66,140,157,1,0,0,1,1,1
259,258,258,0,136,110,194,177,1,0,0,1,1,1

In [20]:
x['gray_final[7:0]'].shape, y['sepia_red_final[7:0]'].shape, z['inv_red_final[7:0]'].shape

((256,), (256,), (256,))

In [21]:
from PIL import Image
import numpy as np

def image_to_rgb_arrays(image_path, target_size=(64, 64)):
    # Open the image
    img = Image.open(image_path)
    
    # Resize the image to the target size using LANCZOS filter
    img = img.resize(target_size, Image.LANCZOS)
    
    # Convert the image to RGB mode in case it's not
    img = img.convert("RGB")
    
    # Convert the image to a numpy array
    img_array = np.array(img)
    return img 

# Example usage
image_path = 'lena.jpeg'
target_size = (16, 16)  # You can try (32, 32), (64, 64), or other sizes
downscaled_img = image_to_rgb_arrays(image_path, target_size)

def grayscale(gray_values, image_size):
    # Convert the list to a numpy array and ensure it's of type uint8
    gray_array = np.array(gray_values, dtype=np.uint8)

    # Reshape the array to the specified image dimensions
    gray_array = gray_array.reshape(image_size)

    # Create a PIL Image from the 2D numpy array in grayscale mode
    img = Image.fromarray(gray_array, mode='L')  # 'L' mode is for grayscale images

    return img

def sepia(sepia_red, sepia_green, sepia_blue, image_size):
    # Convert each color list to numpy arrays and reshape to the specified image dimensions
    red_array = np.array(sepia_red, dtype=np.uint8).reshape(image_size)
    green_array = np.array(sepia_green, dtype=np.uint8).reshape(image_size)
    blue_array = np.array(sepia_blue, dtype=np.uint8).reshape(image_size)

    # Stack the red, green, and blue arrays along a third dimension to create an RGB image
    sepia_array = np.stack((red_array, green_array, blue_array), axis=-1)

    # Create a PIL Image from the 3D numpy array
    img = Image.fromarray(sepia_array, mode='RGB')  # 'RGB' mode for color images

    return img

def invert(red_values, green_values, blue_values, image_size):
    # Convert each color list to numpy arrays and reshape to the specified image dimensions
    red_array = np.array(red_values, dtype=np.uint8).reshape(image_size)
    green_array = np.array(green_values, dtype=np.uint8).reshape(image_size)
    blue_array = np.array(blue_values, dtype=np.uint8).reshape(image_size)

    # Stack the red, green, and blue arrays along a third dimension to create an RGB image
    rgb_array = np.stack((red_array, green_array, blue_array), axis=-1)

    # Create a PIL Image from the 3D numpy array
    img = Image.fromarray(rgb_array, mode='RGB')
    
    return img


gray_values = x['gray_final[7:0]']
sepia_red = y['sepia_red_final[7:0]']
sepia_green = y['sepia_green_final[7:0]']
sepia_blue = y['sepia_blue_final[7:0]']
inv_red = z['inv_red_final[7:0]']
inv_green = z['inv_green_final[7:0]']
inv_blue = z['inv_blue_final[7:0]'] 
image_size = (16, 16)  

# Display the downscaled image
downscaled_img.show()

# Create and display the grayscale image
gray_img = grayscale(gray_values, image_size)
gray_img.show()

# Create and display the sepia image
sepia_img = sepia(sepia_red, sepia_green, sepia_blue, image_size)
sepia_img.show()

# Create and display the inverted image
inv_image = invert(inv_red, inv_green, inv_blue, image_size)
inv_image.show()